.container{
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
    align-items: center;
}
p{
    margin: 20%;
    font-size: 25pt;
    color: #fff;

}
.item-1, .item-2, .item-3{
    width: 300px;
    height: 300px;
    border: 3px solid red;
    flex-grow: 1;
}
.item-1{
    background:blue;
    order: 2;
    flex-grow: 2;

}
.item-2{
    background: blueviolet;
    order: 3;
    flex-grow: 3;
}
.item-3{
    background: green;
    order: 1;
}
